# House Sales in King County, USA

In [1]:
#Importing the libraries
import numpy as np
import pandas as pd
from math import sqrt
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [2]:
dataset_train = pd.read_csv("/home/tintin/Study/Data-science/Statistical-machine-learning/Learn-multiple-linear-regression/Datasets/kc_house_Train.csv") #If you use Linux operation system, you shouldn't put sign "/" before /path folder
dataset_test = pd.read_csv("/home/tintin/Study/Data-science/Statistical-machine-learning/Learn-multiple-linear-regression/Datasets/kc_house_Test.csv")
dataset_train

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15124,15124,6751500285,20140731T000000,555700.0,3,2.00,1810,12420,1.0,0,...,7,1810,0,1957,0,98008,47.5888,-122.127,2230,12330
15125,15125,1310370020,20140708T000000,690000.0,4,2.50,3220,35400,2.0,0,...,9,3220,0,1991,0,98072,47.7547,-122.114,3050,35252
15126,15126,4019300680,20141231T000000,449000.0,3,1.75,1660,9697,1.0,0,...,7,1660,0,1952,0,98155,47.7564,-122.286,2060,20624
15127,15127,4408100095,20140502T000000,308500.0,2,1.00,850,6174,1.0,0,...,7,850,0,1950,0,98155,47.7352,-122.328,1100,6174
15128,15128,8944460020,20150305T000000,340000.0,4,2.50,2665,5868,2.0,0,...,9,2665,0,2006,0,98030,47.3831,-122.185,2665,6092

In [3]:
X_train = dataset_train.iloc[:, 4:9].values
Y_train = dataset_train.iloc[:, 3].values

X_test = dataset_test.iloc[:, 4:9].values
Y_test = dataset_test.iloc[:, 3].values

X_train = np.append(X_train, dataset_train.iloc[:,13:15].values,axis=1)
X_test = np.append(X_test, dataset_test.iloc[:,13:15].values,axis=1)

In [4]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [5]:
Y_test_pred = lin_reg.predict(X_test)
Y_train_pred = lin_reg.predict(X_train)

print("R2 score training = ",lin_reg.score(X_train, Y_train))
print("RMSE score training =  ", sqrt(mean_squared_error(Y_train, Y_train_pred)))
print("MSE score training = ", mean_squared_error(Y_train, Y_train_pred))
print("MAE score training = ", mean_absolute_error(Y_train, Y_train_pred))

print("R2 score testing = ",lin_reg.score(X_test, Y_test))
print("RMSE score testing = ", sqrt(mean_squared_error(Y_test, Y_test_pred)))
print("MSE score testing =", mean_squared_error(Y_test, Y_test_pred))
print("MAE score testing =", mean_absolute_error(Y_test, Y_test_pred))
#print(r2_score(Y_test,Y_test_pred))

R2 score training =  0.5084764616115156
RMSE score training =   256885.8124584096
MSE score training =  65990320642.41719
MAE score training =  168765.82112692422
R2 score testing =  0.5090360713804712
RMSE score testing =  257969.94955787528
MSE score testing = 66548494874.892715
MAE score testing = 174221.77932820233